// Placeholder to allow defining custom styles that override everything else.

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgcenter + em {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: $small-font-size;
}

@mixin ascii-art($align) {
    text-align: $align;
    border: none;
    padding: 0;
}

.ascii-art-center {
    @include ascii-art($align: left);
    display: flex;
    justify-content: center;
}

.ascii-art-left {
    @include ascii-art($align: left);
}

.ascii-art-right {
    @include ascii-art($align: right);
}

.post-tag {
    color: #f0a3c0;
}
