// Placeholder to allow defining custom styles that override everything else.

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ascii-art {
    border: none;
    padding: 0;
}
